@import '../../styles/mixins.scss';

@mixin OnMobile {
  @media (max-width: 550px) {
    @content;
  }
}

.todo {
  display: flex;
  justify-content: center;

  &__max_length_error {
    background-image: url('../../../public/error-detail.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 160px;
    height: 108px;
    position: absolute;
    bottom: 70%;
    right: -15%;
    z-index: 2;

    @include OnMobile {
      width: 48%;
      bottom: 65%;
      right: -10%;
    }
  }

  &__edited_field {
    width: 300px;
    height: 0px;
    margin: 0 auto 25px;
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 13px;
    border: 1px solid rgba(82, 49, 34, 0.568);
    color: #fff;
    background-color: #a48356b9;
    resize: none;

    @include betweenTabletAndMobile {
      width: 50vw;
    }

    @include OnMobile {
      margin-right: 12px;
      margin-left: 12px;
    }

    &:focus {
      font-family: 'Montserrat', sans-serif;
      color: #ffffff9f;
      background-color: #a4835673;
      outline: none;
      border: 1px solid #fff;
    }

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}
